.msgCont {
    background-color: darkseagreen;
    position: fixed;
    right: 0px;

    width: 320px;
    height: calc(100% - 38px);
    border-left: 2px solid var(--ink1);

    overflow: auto;
    transition: 0.5s;
}
.msgBox {
    background-color: violet;
    width: 280px;
    height: 300px;
    min-height: 74px;
    /* max-height: 100px; */
    max-height: 200px;
    margin: 16px 20px 0px 20px;
    border-top: 2px solid var(--ink2);     opacity: 0.8;
    overflow: hidden;
    transition: 0.5s;
}
.msgBox:hover {
    border-top: 2px solid var(--ink1);     opacity: 1;
}
.msgIndex {
    background-color: aquamarine;
    position: relative;
    left: 4px;
    top: 8px;

    width: 270px;
    height: 20px;
}
        .msgName {
            float: left;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;    
        }
        .msgTime {
            float: left;
            margin-left: 5px;
            font-size: 16px;
            color: var(--ink2);
            line-height: 27px;
        }
.msgBody {
    background-color: cornflowerblue;
    position: relative;
    top: 4px;
    
    margin: 4px;
    width: 272px;
    height: auto;
    min-height: 40px;
    max-height: 55px;

    font-size: 18px;

    overflow: auto;
    word-break: break-all;
}




/* --------RESPONSIVE width */
@media ( max-width: 1160px ) {
    .msgCont {
        right: -322px;
        position: fixed;
    }   /* 메시지바 감추기 */
}
@media ( max-width: 840px ) {
}

/* --------RESPONSIVE height */
@media ( max-height: 445px ) {
}
@media ( max-height: 360px ) {
} 