/* ------------------themes */
:root {
    --ink1: #323232;
    --ink2: #757575;
    --p1: #ff5224;
    --p2: #ff7955;
    --p3: #ff9b7f;
    --bg1: #e9e0cd;
    --bg2: #f5f3ed;
}
[data-theme="theme02"] {
    --ink1: #323232;
    --ink2: #757575;
    --p1: #ff5224;
    --p2: #ff7955;
    --p3: #ff9b7f;
    --bg1: #e9e0cd;
    --bg2: #f5f3ed;
}
/* ----------------page setting */
body {
    background-color: var(--bg1);
    height: 100vh;
    margin: 0;
    
    font-family:'Space Mono', 'Nanum Square', sans-serif;
    font-size: 20px;
    color: var(--ink1);
}
a {
    text-decoration: none;
    color: var(--ink1);
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--ink1);
}