[data-theme="default-gray"] {
  --i100: #ffffff;
  --i98: #FAFAFA;
  --i94: #F0F0F0; 
  --i90: #E6E6E6;
  --i80: #CCCCCC;
  --i70: #B3B3B3;
  --i60: #999999;
  --i45: #737373;
  --i30: #4D4D4D;
  --i0: #000000;
  --accent02: #FF7955;
  --accent01: #FF9470;
}